.content-container {
    width: 95%;
}

.title {
    font-size: 23px;
    font-weight: 350;
    text-align: center;
    padding-top: 5px;
    width: 100%;
}

@media screen and (max-width:600px) {
    .title {
        font-size: 20px;
    }
}

.workout-log {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    padding: 12px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #eee;
}

.icon {
    margin-right: 15px;
    color: #555;
    display: flex;
    align-items: center;
}

.content-container-log {
    display: flex;
    flex-direction: column;
}

.content-container-log span {
    font-weight: bold;
    color: #888;
    font-size: 0.8rem;
}

.secondary {
    border-left: 4px solid #00ff88; /* Πράσινο "σήμα" για τα βήματα */
}
